{% extends 'core/base.html' %}

{% block title %}cart{% endblock %}

{% block content %}
<div class="px-40 py-12 pt-32">
    <h2 class="text-2xl font-semibold mb-4">Your Shopping Cart ({{jumlah}})</h2>
    <div class="flex gap-4">
       <div class="">
            {% for cart in carts %}
                <div class="flex gap-9  bg-white shadow-md rounded-lg justify-around overflow-hidden items-center">
                    <div class="w-1/4">
                        <img src="{{ cart.produk.image.url }}" class="w-full rounded-full" alt="{{ cart.produk.name }}">
                    </div>
                    <div class="">
                        <h1 class="text-black font-semibold text-lg">{{cart.produk.name}}</h1>
                        <p class="text-slate-700 text-[.9rem]">{{cart.produk.subtitle}}</p>
                        <p class="text-slate-700 text-[.9rem]">Price : ${{cart.produk.price}} / item</p>
                        <form action="." method="post">
                            <div>
                                <input type="number" class="w-16 py-2 px-3 border border-gray-300 rounded-lg" value="{{ cart.quantity }}" min="1" max="{{ cart.produk.stock }}">
                            </div>
                        </form>
                    </div>
                    <div class="text-end justify-end">
                        <h1>subtotal : {{cart.subtotal}}</h1>
                        <a href="{% url 'cart:deletecart' cart.id %}" onclick="return confirm('Apakah Anda yakin ingin menghapus produk ini?')" class="text-white bg-red-500 px-2 text-[.9rem] mb-4 rounded-lg py-1">delete</a>

                        <form action="{% url 'cart:cartorder' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="cart_id" value="{{ cart.id }}">
                            <input type="hidden" id="quantity" name="quantity" class="w-72 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" value="{{ cart.quantity }}"><br>
                            <button type="submit" class="text-white bg-slate-800 px-2 text-[.9rem] rounded-lg py-1">order now!</button>
                        </form>
                    </div>
                    
                              
                </div>
            {% endfor %}

        
       </div>
       <div class="w-1/4">
         <h1>total harga : ${{total_harga}} </h1>
         <form action="{% url 'cart:allorder' %}" method="post">
            {% csrf_token %}
            <button class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-3 inline-block">order all now</button>
         </form>
         
       </div>
    </div>
</div>

{% endblock %}