{% extends 'core/base.html' %}


{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="pt-44">
    <div class="max-w-4xl mx-auto p-8 border border-slate-300 rounded-lg">
        <h1 class="text-xl font-semibold text-black">Add new produks</h1>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="space-y-4">
                {{form.as_p}}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="bg-red-300 mb-3 p-6 rounded-md ">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button class="text-white mt-7 bg-teal-500 px-4 py-2 rounded-md">submit</button>
        </form>
    </div>
</div>
{% endblock %}